@media screen and (max-width: 650px) {
  .swiper-button-next{
    display: none !important
  }

  .swiper-button-prev {
    display: none !important
  }

}


.swiper-button-next, .swiper-button-prev {
  color: #FFBA08 !important;

}

.swiper-button-next::after {
  font-size: 2rem !important; 
  margin-right: 22rem;
}

.swiper-button-prev::after {
  font-size: 2rem !important; 
  margin-left: 22rem;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
}

span.swiper-pagination-bullet{
  background-color: white
}

.swiper-pagination-bullet-active{
  background-color: #FFBA08 !important;
}

:root {
  --swiper-theme-color: #FFBA08 !important;
}